<!DOCTYPE html>

<html class="no-js" >

<head>
    <title>Identity Authentication</title>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link rel="shortcut icon" href="../static/img/Icon.png">-->
    <!--<link rel="apple-touch-icon" sizes="120x120" href="../static/img/Icon.png">-->
    <!--<link rel="apple-touch-icon" sizes="152x152" href="../static/light/img/Icon.png">-->
    <!--<link href="https://fast.fonts.net/cssapi/487b73f1-c2d1-43db-8526-db577e4c822b.css" rel="stylesheet" type="text/css">-->
    <link href="../static/bower_components/select2/dist/css/select2.min.css" rel="stylesheet">
    <link href="../static/bower_components/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
    <link href="../static/bower_components/dropzone/dist/dropzone.css" rel="stylesheet">
    <link href="../static/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="../static/bower_components/fullcalendar/dist/fullcalendar.min.css" rel="stylesheet">
    <link href="../static/bower_components/perfect-scrollbar/css/perfect-scrollbar.min.css" rel="stylesheet">
    <link href="../static/bower_components/slick-carousel/slick/slick.css" rel="stylesheet">
    <link href="../static/css/main5f48.css?version=4.0.0" rel="stylesheet">
    <link href="../static/bower_components/dragula.js/dist/dragula.min.css" rel="stylesheet" />

<link href="../static/css/mystyle.css" rel="stylesheet" />
    <!--<link href="../static/assets/font-awesome/css/font-awesome.min.css" rel="stylesheet">*@-->

    <!-- Loading Bar -->
    <!--<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.9.0/loading-bar.min.css' type='text/css' media='all' />*@-->
    <!-- Start of Async Drift Code -->
    <script>
        //if (location.protocol != 'https:') {

        //    if (!window.location.href.includes("localhost")) {
        //        location.href = 'https:' + window.location.href.substring(window.location.protocol.length);

        //    }
        //}
        !function () {
            var t;
            if (t = window.driftt = window.drift = window.driftt || [], !t.init) return t.invoked ? void (window.console && console.error && console.error("Drift snippet included twice.")) : (t.invoked = !0,
                t.methods = ["identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on"],
                t.factory = function (e) {
                    return function () {
                        var n;
                        return n = Array.prototype.slice.call(arguments), n.unshift(e), t.push(n), t;
                    };
                }, t.methods.forEach(function (e) {
                    t[e] = t.factory(e);
                }), t.load = function (t) {
                    var e, n, o, i;
                    e = 3e5, i = Math.ceil(new Date() / e) * e, o = document.createElement("script"),
                        o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + i + "/" + t + ".js",
                        n = document.getElementsByTagName("script")[0], n.parentNode.insertBefore(o, n);
                });
        }();
        drift.SNIPPET_VERSION = '0.3.1';
        drift.load('3weyvmmvhe3e');
    </script>
    <!-- End of Async Drift Code -->
</head>

<body>
    <div class="all-wrapper menu-side with-pattern">
        <div class="auth-box-w wider">
            <div class="logo-w">
                <a href="index-2.html">
                    <img alt="" src="img/logo-big.png">
                </a>
            </div>
            <h4 class="auth-header">Create new account</h4>

            <form action="#">
                <div class="alert alert-warning alert-dismissible fade show displayerror" role="alert" style="display:none">
                <button aria-label="Close" class="close"  type="button">
                    <span aria-hidden="true"> &times;</span>
                </button>
                <strong>{{authorizationMessage}} </strong>
            </div>
                <div class="form-group">
                    <label > Email address</label>
                    <input class="form-control" placeholder="Enter email" id="email" type="email">
                    <div class="pre-icon os-icon os-icon-email-2-at2"></div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label > Password</label>
                            <input class="form-control" placeholder="Password"id="password" type="password">
                            <div class="pre-icon os-icon os-icon-fingerprint"></div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label >Confirm Password</label>
                            <input class="form-control" placeholder=" Confirm Password" id="confirmPassword" type="password">
                        </div>
                    </div>
                </div>
                <div class="buttons-w">
                    <button class="btn btn-primary" id="registerButton">Register Now</button>
                    <div class="form-check-inline">
                    <label class="form-check-label">
                            <a href="{{url_for ('auth.login') }}">Login</a>

                    </label>

                </div>
                </div>

            </form>
        </div>
    </div>
 <script src="../static/bower_components/jquery/dist/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#registerButton").on('click',function(){

                        var email = $("#email").val();
                        var password = $("#password").val();
                        var confirmPassword = $("#confirmPassword").val();
                        if (password == confirmPassword){
                        $.ajax({
                        type: 'POST',
                        url: '/auth/register', // Calling json method
                        traditional: true,
                        data: { email: email, password:password,confirmPassword:confirmPassword },
                        beforeSend: function () {
                            <!--$("#loadingImage").show();-->
                        },
                        complete: function () {
                            <!--$("#loadingImage").hide();-->
                        },
                        success: function (message) {
                            if (message == "dashboard"){
                            console.log(message)
                            window.location.href = message;
                            } else{
                                $(".displayerror").show();
                                $(".displayerror").text(message);
                            }
                        },
                        error: function (ex) {
                            <!--swal("Error",'Operation Failed',"error");-->
                        }
                    });
                    }
                    else{
                        $(".displayerror").show();
                        $(".displayerror").text("Password do not match. try again");
                    }
      });
        });
    </script>
</body>

</html>