<div class="onboarding-content with-gradient">
    <h4 class="onboarding-title">Example Request Information</h4>
    <div class="onboarding-text">In this example you can see a form where you can request some
        additional
        information from the customer when they land on the app page.
    </div>
    <form>
        <div class="row">

            <div class="col-sm-4">
                <div class="form-group">
                    <label>Exchange Type</label>
                    <!--<select class="form-control">-->
                    <!--<option>Web Developer</option>-->
                    <!--<option>Business Owner</option>-->
                    <!--<option>Other</option>-->
                    <!--</select>-->
                    <select class="form-control" id="exchangetype">
                        {% for exchangitem in exchangeTypeList %}
                        <option class="selectoptiondropdown" value="{{ exchangitem.value }}">{{
                            exchangitem.text }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Currency Type</label>
                    <!--<select class="form-control">-->
                    <!--<option>Web Developer</option>-->
                    <!--<option>Business Owner</option>-->
                    <!--<option>Other</option>-->
                    <!--</select>-->
                    <select class="form-control" id="currencytype">
                        {% for curritem in currencyTypeList %}
                        <option class="selectoptiondropdown" value="{{ curritem.value }}">{{
                            curritem.text }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Market Type</label>
                    <!--<select class="form-control">-->
                    <!--<option>Web Developer</option>-->
                    <!--<option>Business Owner</option>-->
                    <!--<option>Other</option>-->
                    <!--</select>-->
                    <select class="form-control" id="markettype">
                        {% for item in marketTypeList %}
                        <option class="selectoptiondropdown" value="{{ item.value }}">{{
                            item.text }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Min Amount</label>
                    <input class="form-control" placeholder="e.g. $200" id="minamount"
                           type="number" value="">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Max Amount</label>
                    <input class="form-control" placeholder="e.g. $500" id="maxamount"
                           type="number" value="">
                </div>
            </div>
            <div class="col-sm-4">
                <button class="mr-2 mb-2 btn btn-primary" id="setTickerButton" type="button">
                    Set
                </button>
            </div>
        </div>
    </form>
</div>

<script>
        $(document).ready(function(){
        function validate(maxamount,minamount){
            if (maxamount == 0){
                alert('Please enter max amount')
                return false;
            }
            if (minamount == 0){
                alert('Please enter min amount')
                return false;
            }
            if ( minamount > maxamount){
                alert('Min amount must be less than max amount')
                return false;
            }
            return true;
        }
$("#setTickerButton").on('click',function(){
                        var maxamount = $("#maxamount").val();
                        var minamount = $("#minamount").val();
                        var markettype = $("#markettype").val();
                        var currencytype = $("#currencytype").val();
                        var exchangetype = $("#exchangetype").val();
                        var markettype_descrip = $("#markettype :selected").text();
                        var currencytype_descrip = $("#currencytype :selected").text();
                        console.log(currencytype_descrip,markettype_descrip);
                        if (markettype_descrip !=currencytype_descrip){
                            console.log(markettype);
                        if (validate(maxamount,minamount)){
                        $.ajax({
                        type: 'POST',
                        url: '/settings/set_ticker', // Calling json method
                        traditional: true,
                        data: { maxamount: maxamount, minamount:minamount,markettype:markettype,currencytype:currencytype,exchangetype:exchangetype  },
                        beforeSend: function () {
                            <!--$("#loadingImage").show();-->
                        },
                        complete: function () {
                            <!--$("#loadingImage").hide();-->
                        },
                        success: function (message) {
                            if (message == "True"){
                            console.log(message)
                            getTicker();
                            alert(message)
                            } else{
                                $(".displayerror").show();
                                $(".displayerror").text("message");
                            }
                        },
                        error: function (ex) {
                            <!--swal("Error",'Operation Failed',"error");-->
                        }
                    });

                    }
                    }else{
                            alert("currency can't be traded to its market type")
                        }


      });
      function getTicker(){
    $.ajax({
              url: '/settings/get_ticker', // Calling json method
              var exchangeType = $(".tickersetExchange").val();
                if ( exchangeType == ""){
                    exchangeType = 1
                    }
		      type: "POST",
		      data: { exchangeType:exchangeType },
		      beforeSend: function (){

              },
            complete: function (){

             },
              //dataType: "json",
		      success : function(data){
		      $("#getTicker").html(data);
		       },
		      error: function(data, errorThrown)
		      {
		     alert("error")
		      }
		 });
}

        });





</script>