{% extends "Base.html" %}
{% block title %}Dashboard{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="content-i">
    <div class="content-box">

        <div class="todo-app-w">
            <div class="col-sm-4">
                <div class="element-wrapper">
                    <h6 class="element-header">
                        <span>Histories</span>
                    </h6>
                    <div class="todo-content" style="padding:5px; background-color:none">

                        <div class="all-tasks-w">
                            <div class="tasks-section">
                                <!--START - TASKS HEADER-->
                                <div class="tasks-header-w" style="margin-bottom:0px; margin-top:0px">
                                    <a class="tasks-header-toggler" href="#">
                                        <i class="os-icon os-icon-ui-23"></i>
                                    </a>
                                    <h5 class="tasks-header">Deposit-Withdrawal</h5>

                                </div>
                                <!--END - TASKS HEADER-->
                                <div class="row">
                                        <!--<div class="tasks-list-w"-->
                                             <!--style="max-width: 100%;overflow: auto; overflow-x:hidden; padding:0px">-->
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>Exchange Type</label>
                                                    <select class="form-control" id="exchangetypehistory"
                                                            required="required">
                                                        {% for withexchangitem in exchangeTypeList %}
                                                        <option class="selectoptiondropdown"
                                                                value="{{ withexchangitem.value }}">{{
                                                            withexchangitem.text }}
                                                        </option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
<div class="col-sm-6">
                <div class="form-group">
                    <label>Currency Type</label>

                    <select class="form-control" id="currencytypehistory" required="required">
                        {% for withcurritem in currencyTypeList %}
                        <option class="selectoptiondropdown" value="{{ withcurritem.text }}">{{
                            withcurritem.text }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
            </div>


                                    <div class="col-sm-4">
                <button class="mr-2 mb-2 btn btn-primary" id="historyButton" type="button">
                  View History
                </button>

            </div>
                                    <div class="col-sm-2"></div>
             <div class="col-sm-2">
                <i class="fa fa-spinner fa-spin fa-2x" style="display:none" id="dep-withloadingimage"></i>
                <!--<img src="../static/img/ajax-loading-gif-3.gif" width="20" style="display:none" id="loadingimage">-->
            </div>

                                        </div>

                            </div>
                            <div class="tasks-section">
                                <!--START - TASKS HEADER-->
                                <!--<div class="tasks-header-w" style="margin-bottom:0px; margin-top:0px">-->
                                    <!--<a class="tasks-header-toggler" href="#">-->
                                        <!--<i class="os-icon os-icon-ui-23"></i>-->
                                    <!--</a>-->
                                    <!--<h5 class="tasks-header">Ticker-Order Setting</h5>-->

                                <!--</div>-->
                                <!--&lt;!&ndash;END - TASKS HEADER&ndash;&gt;-->
                                <!--<div class="row">-->
                                    <!--<div class="col-sm-12">-->
                                        <!--<div class="tasks-list-w" style="display:none">-->
                                            <!--<div id="getTicker"></div>-->
                                            <!--<td class="text-center">-->
                                                <!--<input type="button" class="btn-primary btn-rounded btn-sm ticker"-->
                                                       <!--value="Set Ticker">-->
                                            <!--</td>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            </div>
                            <div class="tasks-section">
                                <!--START - TASKS HEADER-->
                                <!--<div class="tasks-header-w" style="margin-bottom:0px; margin-top:0px">-->
                                    <!--<a class="tasks-header-toggler" href="#">-->
                                        <!--<i class="os-icon os-icon-ui-23"></i>-->
                                    <!--</a>-->
                                    <!--<h5 class="tasks-header">Transaction</h5>-->

                                <!--</div>-->
                                <!--&lt;!&ndash;END - TASKS HEADER&ndash;&gt;-->
                                <!--<div class="row">-->
                                    <!--<div class="col-sm-12">-->
                                        <!--<div class="tasks-list-w" style="display:none">-->

                                            <!--<div class="table-responsive" style="max-width: 100%;overflow: auto;">-->
                                                <!--<table class="table table-lightborder">-->
                                                    <!--<thead>-->
                                                    <!--<tr>-->
                                                        <!--<th>MKT</th>-->
                                                        <!--<th>Buy</th>-->
                                                        <!--<th>Sell</th>-->
                                                        <!--<th class="text-right"></th>-->
                                                    <!--</tr>-->
                                                    <!--</thead>-->
                                                    <!--<tbody>-->
                                                    <!--<tr>-->
                                                        <!--<td>BTC</td>-->
                                                        <!--<td>$2000</td>-->
                                                        <!--<td>-->
                                                            <!--$5000-->
                                                        <!--</td>-->
                                                        <!--<td class="text-center">-->
                                                            <!--<input type="button" class="btn-primary btn-rounded btn-sm"-->
                                                                   <!--value="Set">-->
                                                        <!--</td>-->
                                                    <!--</tr>-->

                                                    <!--</tbody>-->
                                                <!--</table>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            </div>

                        </div>
                    </div>

                </div>
            </div>
            <div class="col-sm-8" style="align-content:center">
                <div class="element-wrapper" >
                    <div id="historyDisplay"></div>
                    <div>
                    <i class="fa fa-spinner fa-spin fa-2x" style="display:none;margin:auto;position:absolute" id="history-loadingimage"></i>
                        </div>


                </div>
            </div>

        </div>

    </div>
    <!--------------------
END - Sidebar
-------------------->
</div>



<script>
                            function copyToClipboard(){
        var address = $("#walletAddress").val();
        $("#walletAddress").select();
        document.execCommand("copy");
        $.toast({
            heading: 'Success',
            text: 'Wallet Address Copied.',
            showHideTransition: 'slide',
            icon: 'success'
        })
      }

      $("#historyButton").on('click',function(){
    $(this).prop('disabled', true);
            exchangetypehistory= $("#exchangetypehistory").val();
            currencytypehistory =$("#currencytypehistory").val();
            if (exchangetypehistory == {{ExchangeTypeEnum.BITFINEX}}){
                getWithdrawalHistory('/api/depo_with_history', currencytypehistory, exchangetypehistory);
            }
            else{
                getWithdrawalHistory('/api/get_bitrex_depo_withdrawal', currencytypehistory,exchangetypehistory);
            }
                $(this).prop('disabled',false );
      });


        getWithdrawalHistory('/api/depo_with_history', 'BTC' , '1');
        console.log('hello');

function getWithdrawalHistory(urlapi, currency, exchange){
    var nonce =  Date.now().toString();
    $.ajax({
                        type: 'POST',
                        url: urlapi, // Calling json method
                        traditional: true,
                        data: {nonce:nonce,currency:currency,exchange:exchange},
                        beforeSend: function () {
                            $("#dep-withloadingimage").show();
                        },
                        complete: function () {
                            $("#dep-withloadingimage").hide();
                        },
                        success: function (message) {
                            if (message == "False"){
                            alert('something is wrong' )
                            } else{
                                $("#historyDisplay").html(message);
                            }
                        },
                        error: function (ex) {
                        $(this).prop('disabled', false);
                            <!--swal("Error",'Operation Failed',"error");-->
                        }
                    });
}

</script>
{% endblock %}