<link href="../static/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
<div class="form-desc">DataTables is a plug-in for the jQuery Javascript library. It is
                                    <a
                                            href="https://www.datatables.net/" target="_blank">Learn More about
                                        DataTables</a></div>
                                <div class="table-responsive" style="font-size:0.8em; line-height:10px;border-top-color:rgba(83,101,140,0.08);max-width 100%; overflow: auto;  ">
                                    <table id="my_orders_table"  width="100%" class="table table-striped table-lightfont ">
                                        <thead>
                                        <tr>
                                            <th><b>Order Date</b></th>
                                            <th><b>Ref Number</b></th>
                                            <th><b>Status</b></th>
                                            <th><b>Trade</b></th>
                                            <th><b>OrderDetail</b></th>
                                            <th><b>MarketType</b></th>
                                             <th><b>Currency Type</b></th>
                                            <th><b>Amount</b></th>
                                            <th><b>ExchangeType</b></th>
                                            <th><b>Action</b></th>

                                        </tr>
                                        </thead>

                                        <tbody>
                                        {% if orderList %}
                                        {%
                                for order in orderList %}
                                        <tr>
                                            <td>{{order.date_time}}</td>
                                             <td>{{order.order_ref}}</td>
                                            {%if order.status=="Running..."%}
                                             <td><a class="btn btn-sm btn-primary" >
                                             {%elif order.status == "Pending" %}
                                             <td><a class="btn btn-sm btn-success" >
                                                 {%else%}
                                            <td><a class="btn btn-sm btn-danger" >
                                            {% endif %}
                                                 {{order.status}}</a></td>
                                             {%if order.status !="Running..." and order.status !="Cancelled" %}
                                            <td><a><button  class="mr-2 mb-2 btn btn-success startTrade " type="button"  id="{{order.id}}"> Start Trade</button></a></td>
                                             {%elif order.status == "Cancelled" %}
                                             <td><a class="btn btn-sm btn-danger" > Create new order</a>
                                            {%else%}
                                            <td><a><button  class="mr-2 mb-2 btn btn-success cancel " type="button"  name="{{order.id}}">Cancel</button></a></td>
                                            {% endif %}





                                            <td> <a href="#" ><button  class="mr-2 mb-2 btn btn-secondary viewTrade" name="{{order.order_ref}}" type="button">View</button></a></td>
                                            <td>{{order.markettype.description}}</td>
                                             <td>{{order.currencytype.description}}</td>
                                             <td>{{order.currency_amount}}</td>
                                             <td>{{order.exchange_type.description}}</td>
                                            <td><button class="mr-2 mb-2 btn btn-secondary" type="button">
                                                        <a href="#">
                                                            <i class="os-icon os-icon-ui-49"></i>
                                                        </a>

                                                        <a class="danger" href="#">
                                                            <i class="os-icon os-icon-ui-15"></i>
                                                        </a>
                                             </button></td>

                                        </tr>
                                        {% endfor%}
                                         {% endif%}


                                        </tbody>
                                    </table>
                                </div>

<div class="onboarding-modal modal fade animated " id="view_multiple_order_modal" role="dialog" tabindex="-1"
     style="display:none;" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-centered" role="document">
        <div class="modal-content text-center">
            <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span
                    class="close-label">Close</span><span
                    class="os-icon os-icon-close"></span></button>
            <div class="onboarding-side-by-side">

                <!--<div class="onboarding-media"><img alt="" src="../static/img/bigicon5.png" width="200px"></div>-->
                <!--<div class="onboarding-content with-gradient"><h4 class="onboarding-title">Order Details</h4>-->


                <!--</div>-->


            </div>
                <div class="row">
                <div class="col-sm-12">


                    <div id="my_orders_table_modal">




                    </div>


            </div>
                       </div>

        </div>
    </div>
</div>



<script src="../static/bower_components/editable-table/mindmup-editabletable.js"></script>
    <script src="../static/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="../static/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>

<script>

$("#my_orders_table").on('click',".startTrade",function() {
var orderId=this.id;
  $.ajax({
		      url: '/settings/ordersettings/start-trade',
		      type: "POST",
		      beforeSend: function (){
              },
            complete: function (){

             },
             data:{orderId:orderId},
		      success : function(data){
		      if(data=="insuficient-fund")
		      {
		      alert("Insufficient fund!");
		      }
               if(data=="true"){
               getOrdersTable();
               alert("Activated Successfully")
               }
               else{
               alert(data);
               }
		       },
		      error: function(data, errorThrown)
		      {
		     error("error")
		      }
		 });

})

$("#my_orders_table").on('click',".cancel",function() {
var orderId=$(this).attr('name');
  $.ajax({
		      url: '/settings/ordersettings/cancel-trade',
		      type: "POST",
		      beforeSend: function (){
              },
            complete: function (){

             },
             data:{orderId:orderId},
		      success : function(data){
               if(data=="true"){
               getOrdersTable();
               alert("cancelled successfully");
               }
               else{
               alert(data);
               }
		       },
		      error: function(data, errorThrown)
		      {
		     error("error")
		      }
		 });

})



	$("#my_orders_table").on('click',".viewTrade",function() {
	 $("#view_multiple_order_modal").modal("show");
	  var orderRef=$(this).attr('name');
	   $.ajax({
		      url: '/settings/ordersettings/view-order-detail-multiple',
		      type: "POST",
		      beforeSend: function (){
              },
            complete: function (){

             },
             data:{orderRef:orderRef},
		      success : function(data){
		      $("#my_orders_table_modal").html(data);

		       },
		      error: function(data, errorThrown)
		      {
		     error("error")
		      }
		 });



	})

</script>