<link href="../static/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
<!--<div class="form-desc">DataTables is a plug-in for the jQuery Javascript library. It is-->
    <!--<a-->
            <!--href="https://www.datatables.net/" target="_blank">Learn More about-->
        <!--DataTables</a></div>-->

<style>
    .pane {
    display: inline-block;
    overflow-y: scroll;
    max-height:400px;
}
</style>

<div class="table-responsive"style="font-size:0.8em; line-height:10px;border-top-color:rgba(83,101,140,0.08) " >
    <table id="my_orders_table" width="100%" class="table table-striped table-lightfont  pane ">
        <thead>
        <tr>
            <th><b>Order Date</b></th>
            <th><b>Ref Number</b></th>
            <th><b>Transaction Staus</b></th>
            <th><b>Order Status</b></th>
            <th><b>Amount(Cryptocoin)</b></th>
            <th><b>Price</b></th>
             <th><b>MarketType</b></th>
            <th><b>Currency Type</b></th>
             <th><b>ExchangeType</b></th>
             <th><b>Order Action</b></th>
            <th><b>OrderDetail</b></th>
            <th><b>Action</b></th>

        </tr>
        </thead>

        <tbody>
        {% if orderList %}
        {%
        for order in orderList %}
        <tr>
            <td >{{order.date_time}}</td>
            <td>{{order.order_ref}}</td>
            <td><b>{{order.transaction_status}}</b></td>
            {%if order.status=="Pending" or order.status=="Running..."%}
            <td><a class="btn btn-sm btn-primary">
                {% elif order.status=="Completed"%}
            <td><a class="btn btn-sm btn-success">
                {%else%}
            <td><a class="btn btn-sm btn-danger">
                {% endif %}
                {{order.status}}</a></td>


            <td>{{order.currency_amount}}({{order.currencytype}})</td>
            <td>{{order.price_to_pay}}({{order.markettype}})</td>

            <td>{{order.markettype}}</td>
            <td>{{order.currencytype}}</td>

            <td class="exchangeType" name="order.id">{{order.exchangetype}}</td>
            {%if order.status=="Pending" or order.status=="Completed" or order.status=="Cancelled" or order.status=="Running..." %}

            <td><a>
                <button class="mr-2 mb-2 btn btn-success cancel"  id ="{{order.id}}" type="button" > Cancel
                </button>

            </a></td>
            {%else%}
            <td><a>

                <button class="mr-2 mb-2 btn btn-success activate"  name="{{order.id}}" type="button" > Activate</button>
            </a></td>
            {% endif %}
             <td><a>
                <button class="mr-2 mb-2 btn btn-secondary viewOrder" name="{{order.id}}" exchangeType="{{order.exchangetype}}" type="button">View
                </button>
            </a></td>
            <td>
                <button class="mr-2 mb-2 btn btn-secondary" type="button">
                    <a href="#">
                        <i class="os-icon os-icon-ui-49"></i>
                    </a>

                    <a class="danger" href="#">
                        <i class="os-icon os-icon-ui-15"></i>
                    </a>
                </button>
            </td>

        </tr>
        {% endfor%}
        {% endif%}


        </tbody>
    </table>
</div>


<script src="../static/bower_components/editable-table/mindmup-editabletable.js"></script>
<script src="../static/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="../static/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>

<script>

$("#my_orders_table").on('click',".activate",function() {
var orderId=$(this).attr('name');
var  nonce = Date.now().toString();


  $.ajax({
		      url: '/api/place-new-order',
		      type: "POST",
		      beforeSend: function (){
		       $('.activate').prop('disabled', true);
              },
            complete: function (){
               $('.activate').prop('disabled', false);
             },
             data:{orderId:orderId,nonce:nonce},
		      success : function(content){

		     if(content=="true"){
              alert("Order activated successfully");
		      getOrdersTable();
		     }else{
		     alert(content);
		     }


		       },
		      error: function(data, errorThrown)
		      {
		     alert("error")
		      }
		 });



})




$("#my_orders_table").on('click',".cancel",function() {
var orderId=this.id;
var  dateTime = Date.now().toString();

  $.ajax({
		      url: '/settings/ordersettings/cancel-order',
		      type: "POST",
		      beforeSend: function (){
		       $('.cancel').prop('disabled', true);
              },
            complete: function (){
             $('.cancel').prop('disabled', false);
             },
             data:{orderId:orderId,dateTime:dateTime},
		      success : function(content){
		     if(content=="Completed"){
		      alert("Completed");
		     }
		     else if(content=="Cancelled" ){
		      alert("Order Already Cancelled");
		     }
		     else if(content=="Not-Activated"){
		     alert("Activate Order first!")
		     }else{
		     getOrdersTable();
		     alert(content);
		      }
		      },
		      error: function(data, errorThrown)
		      {
		     alert("error")
		      }
		 });

})








$("#my_orders_table").on('click',".viewOrder",function() {
var orderId=$(this).attr('name');
var exchangeType=$(this).attr('exchangeType');
var  dateTime = Date.now().toString();


  <!--$.ajax({-->
		      <!--url: '/settings/ordersettings/view-order-detail',-->
		      <!--type: "POST",-->
		      <!--beforeSend: function (){-->
		       <!--$('.cancel').prop('disabled', true);-->
              <!--},-->
            <!--complete: function (){-->
             <!--$('.cancel').prop('disabled', false);-->
             <!--},-->
             <!--data:{orderId:orderId,dateTime:dateTime,exchangeType:exchangeType},-->
		      <!--success : function(content){-->

		       <!--},-->
		      <!--error: function(data, errorThrown)-->
		      <!--{-->
		     <!--alert("error")-->
		      <!--}-->
		 <!--});-->



})


	$("#my_orders_table").on('click'," .viewTrade",function() {
		var url =window.location.origin+"/"+window.location.pathname.split('/')[1];
		var ref= this.id;
		alert(url);

		window.open(url+"/ordersettings/view-order-detail?orderRef=ref", '_blank');
	})





</script>