<!DOCTYPE html>

<html class="no-js">

<head>
    {% block head %}
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="../static/img/Icon.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../static/img/Icon.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../static/light/img/Icon.png">
    <link href="https://fast.fonts.net/cssapi/487b73f1-c2d1-43db-8526-db577e4c822b.css" rel="stylesheet"
          type="text/css">
    <link href="../static/bower_components/select2/dist/css/select2.min.css" rel="stylesheet"/>
    <link href="../static/bower_components/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet"/>
    <link href="../static/bower_components/dropzone/dist/dropzone.css" rel="stylesheet"/>
    <link href="../static/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet"/>
    <link href="../static/bower_components/fullcalendar/dist/fullcalendar.min.css" rel="stylesheet"/>
    <link href="../static/bower_components/perfect-scrollbar/css/perfect-scrollbar.min.css" rel="stylesheet"/>
    <link href="../static/bower_components/slick-carousel/slick/slick.css" rel="stylesheet"/>
    <link href="../static/css/main5f48.css?version=4.0.0" rel="stylesheet"/>
    <link href="../static/bower_components/dragula.js/dist/dragula.min.css" rel="stylesheet"/>
    <link href="../static/toast/dist/jquery.toast.min.css" rel="stylesheet"/>
    <link href="../static/css/mystyle.css" rel="stylesheet"/>
    <link href="../static/icon_fonts_assets/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <script src="../static/bower_components/jquery/dist/jquery.min.js"></script>

    <script src="../static/js/jquery.simple.websocket.js"></script>


    <!-- Loading Bar -->
    <!--<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.9.0/loading-bar.min.css' type='text/css' media='all' />*@-->
    <!-- Start of Async Drift Code -->
    <script>
        //if (location.protocol != 'https:') {

        //    if (!window.location.href.includes("localhost")) {
        //        location.href = 'https:' + window.location.href.substring(window.location.protocol.length);

        //    }
        //}
        !function () {
            var t;
            if (t = window.driftt = window.drift = window.driftt || [], !t.init) return t.invoked ? void (window.console && console.error && console.error("Drift snippet included twice.")) : (t.invoked = !0,
                t.methods = ["identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on"],
                t.factory = function (e) {
                    return function () {
                        var n;
                        return n = Array.prototype.slice.call(arguments), n.unshift(e), t.push(n), t;
                    };
                }, t.methods.forEach(function (e) {
                    t[e] = t.factory(e);
                }), t.load = function (t) {
                    var e, n, o, i;
                    e = 3e5, i = Math.ceil(new Date() / e) * e, o = document.createElement("script"),
                        o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + i + "/" + t + ".js",
                        n = document.getElementsByTagName("script")[0], n.parentNode.insertBefore(o, n);
                });
        }();
        drift.SNIPPET_VERSION = '0.3.1';
        drift.load('3weyvmmvhe3e');



    </script>
    {% endblock %}
    <!-- End of Async Drift Code -->
</head>


<body class="with-content-panel color-scheme-dark">


<div class="all-wrapper menu-side">
    <div class="layout-w">
        <!--------------------
        START - Mobile Menu
        -------------------->
        <div class="menu-mobile menu-activated-on-click color-scheme-dark">
            <div class="mm-logo-buttons-w">
                <a class="mm-logo" href="index-2.html">
                    <img src="img/logo.png">
                    <span>Clean Admin</span>
                </a>
                <div class="mm-buttons">
                    <div class="content-panel-open">
                        <div class="os-icon os-icon-grid-circles"></div>
                    </div>
                    <div class="mobile-menu-trigger">
                        <div class="os-icon os-icon-hamburger-menu-1"></div>
                    </div>
                </div>
            </div>
            <div class="menu-and-user">
                <div class="logged-user-w">
                    <div class="avatar-w">
                        <img alt="" src="img/avatar1.jpg">
                    </div>
                    <div class="logged-user-info-w">
                        <div class="logged-user-name">Maria Gomez</div>
                        <div class="logged-user-role">Administrator</div>
                    </div>
                </div>
                <!--------------------
                START - Mobile Menu List
                -------------------->
                <ul class="main-menu">
                    <li class="has-sub-menu">
                        <a href="#">
                            <div class="icon-w">
                                <div class="os-icon os-icon-window-content"></div>
                            </div>
                            <span>Strategies</span>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href="{{ url_for('settings.orderSettings') }}">Swing Trader</a>
                            </li>
                            <li>
                                <a href="apps_support_dashboard.html">
                                    Dynamic Trader
                                </a>
                            </li>


                        </ul>
                    </li>
                    <li class="has-sub-menu">
                        <a href="#">
                            <div class="icon-w">
                                <div class="os-icon os-icon-hierarchy-structure-2"></div>
                            </div>
                            <span>Arbitrage</span>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href="layouts_menu_side.html">Arbitrage trade</a>
                            </li>


                        </ul>
                    </li>
                    <li class="has-sub-menu">
                        <a href="#">
                            <div class="icon-w">
                                <div class="os-icon os-icon-delivery-box-2"></div>
                            </div>
                            <span>Manage Order</span>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href="#" id="single_order">Single Order</a>
                            </li>


                        </ul>
                    </li>
                    <li class="has-sub-menu">
                        <a href="#">
                            <div class="icon-w">
                                <div class="os-icon os-icon-newspaper"></div>
                            </div>
                            <span>Wallet</span>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href="misc_invoice.html">Wallet</a>
                            </li>
                            <li>
                                <a href="{{ url_for('api.depo_with_history') }}">Deposit-Withdrawal History</a>
                            </li>

                        </ul>
                    </li>

                </ul>
                <!--------------------
                END - Mobile Menu List
                -------------------->

            </div>
        </div>
        <!--------------------
        END - Mobile Menu
        -------------------->
        <!--------------------
        START - Menu side compact
        -------------------->
        <div class="desktop-menu menu-side-compact-w menu-activated-on-hover color-scheme-dark">
            <div class="logo-w">
                <a class="logo" href="index-2.html">
                    <img src="img/logo.png">
                </a>
            </div>
            <div class="menu-and-user">
                <div class="logged-user-w">
                    <div class="logged-user-i">
                        <div class="avatar-w">
                            <img alt="" src="img/avatar1.jpg">
                        </div>
                        <div class="logged-user-menu">
                            <div class="logged-user-avatar-info">
                                <div class="avatar-w">
                                    <img alt="" src="img/avatar1.jpg">
                                </div>
                                <div class="logged-user-info-w">
                                    <div class="logged-user-name">Maria Gomez</div>
                                    <div class="logged-user-role">Administrator</div>
                                </div>
                            </div>
                            <div class="bg-icon">
                                <i class="os-icon os-icon-wallet-loaded"></i>
                            </div>
                            <ul>

                                <li>
                                    <a href="users_profile_big.html">
                                        <i class="os-icon os-icon-user-male-circle2"></i>
                                        <span>Account Settings</span>
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <i class="os-icon os-icon-signs-11"></i>
                                        <span>Logout</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <ul class="main-menu">

                    <li class="has-sub-menu">
                        <a href="#">
                            <div class="icon-w">
                                <div class="os-icon os-icon-window-content"></div>
                            </div>
                        </a>
                        <div class="sub-menu-w">
                            <div class="sub-menu-title">Strategies</div>
                            <div class="sub-menu-icon">
                                <i class="os-icon os-icon-hierarchy-structure-2"></i>
                            </div>
                            <div class="sub-menu-i">
                                <ul class="sub-menu">
                                    <li>
                                        <a href="{{ url_for('settings.orderSettings') }}">Swing Trader</a>
                                    </li>
                                    <li>
                                        <a href="apps_support_dashboard.html">
                                            Dynamic Trader
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="has-sub-menu">
                        <a href="#">
                            <div class="icon-w">
                                <i class="os-icon os-icon-delivery-box-2"></i>
                            </div>
                        </a>
                        <div class="sub-menu-w">
                            <div class="sub-menu-title">Arbitrage</div>
                            <div class="os-icon os-icon-hierarchy-structure-2"></div>
                            <div class="sub-menu-i">
                                <ul class="sub-menu">

                                    <li>
                                        <a href="layouts_menu_side.html">Arbitrage trade</a>
                                    </li>

                                </ul>

                            </div>
                        </div>
                    </li>
                    <li class="has-sub-menu">
                        <a href="#">
                            <div class="icon-w">
                                <i class="os-icon os-icon-newspaper"></i>
                            </div>
                        </a>
                        <div class="sub-menu-w">
                            <div class="sub-menu-title">Manage Orders</div>
                            <div class="sub-menu-icon">
                                <i class="os-icon os-icon-newspaper"></i>
                            </div>
                            <div class="sub-menu-i">
                                <ul class="sub-menu">

                                    <li>
                                        <a href="#" id="single_order">Single Order</a>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </li>
                    <li class="has-sub-menu">
                        <a href="#">
                            <div class="icon-w">
                                <i class="os-icon os-icon-grid-squares"></i>
                            </div>
                        </a>
                        <div class="sub-menu-w">
                            <div class="sub-menu-title">Wallets</div>
                            <div class="sub-menu-icon">
                                <i class="os-icon os-icon-grid-squares"></i>
                            </div>
                            <div class="sub-menu-i">
                                <ul class="sub-menu">
                                    <li>
                                        <a href="misc_invoice.html">Wallet</a>
                                    </li>
                                    <li>
                                        <a href="{{ url_for('api.depo_with_history') }}">Deposit-Withdrawal History</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
        </div>

        <!--------------------
        END - Menu side compact
        -------------------->
        <div class="content-w">
            <!--------------------
            START - Secondary Top Menu
            -------------------->
            <div class="top-menu-secondary color-scheme-dark">
                <ul>
                    <li class="active">
                        <a href="{{ url_for('auth.dashboard') }}"> Dashboard</a>
                    </li>
                    <li>
                        <a href="#" class="deposit"> Deposit</a>
                    </li>
                    <li>
                        <a href="#" class="withdrawal">Withdraw</a>
                    </li>

                    <li>
                        <a href="#">Reports</a>
                    </li>
                </ul>

                <div class="top-menu-controls">
                    <div class="element-search hidden-lg-down">
                        <input placeholder="Start typing to search..." type="text">
                    </div>
                    <div class="top-icon top-search hidden-xl-up">
                        <i class="os-icon os-icon-ui-37"></i>
                    </div>
                    <!--------------------
                    START - Messages Link in secondary top menu
                    -------------------->
                    <div class="messages-notifications os-dropdown-trigger os-dropdown-center">
                        <i class="os-icon os-icon-mail-14"></i>
                        <div class="new-messages-count">12</div>
                        <div class="os-dropdown light message-list">
                            <div class="icon-w">
                                <i class="os-icon os-icon-mail-14"></i>
                            </div>
                            <ul>
                                <li>
                                    <a href="#">
                                        <div class="user-avatar-w">
                                            <img alt="" src="img/avatar1.jpg">
                                        </div>
                                        <div class="message-content">
                                            <h6 class="message-from">John Mayers</h6>
                                            <h6 class="message-title">Account Update</h6>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="user-avatar-w">
                                            <img alt="" src="img/avatar2.jpg">
                                        </div>
                                        <div class="message-content">
                                            <h6 class="message-from">Phil Jones</h6>
                                            <h6 class="message-title">Secutiry Updates</h6>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="user-avatar-w">
                                            <img alt="" src="img/avatar3.jpg">
                                        </div>
                                        <div class="message-content">
                                            <h6 class="message-from">Bekky Simpson</h6>
                                            <h6 class="message-title">Vacation Rentals</h6>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="user-avatar-w">
                                            <img alt="" src="img/avatar4.jpg">
                                        </div>
                                        <div class="message-content">
                                            <h6 class="message-from">Alice Priskon</h6>
                                            <h6 class="message-title">Payment Confirmation</h6>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--------------------
                    END - Messages Link in secondary top menu
                    -------------------->
                    <!--------------------
                    START - Settings Link in secondary top menu
                    -------------------->
                    <div class="top-icon top-settings os-dropdown-trigger os-dropdown-center">
                        <i class="os-icon os-icon-ui-46"></i>
                        <div class="os-dropdown">
                            <div class="icon-w">
                                <i class="os-icon os-icon-ui-46"></i>
                            </div>
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="os-icon os-icon-ui-49"></i>
                                        <span>Profile Settings</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="os-icon os-icon-grid-10"></i>
                                        <span>Billing Info</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="os-icon os-icon-ui-44"></i>
                                        <span>My Invoices</span>
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <!--------------------
                    END - Settings Link in secondary top menu
                    -------------------->
                    <!--------------------
                    START - User avatar and menu in secondary top menu
                    -------------------->
                    <div class="logged-user-w">
                        <div class="logged-user-i">
                            <div class="avatar-w">
                                <img alt="" src="img/avatar1.jpg">
                            </div>
                            <div class="logged-user-menu">
                                <div class="logged-user-avatar-info">
                                    <div class="avatar-w">
                                        <img alt="" src="img/avatar1.jpg">
                                    </div>
                                    <div class="logged-user-info-w">
                                        <div class="logged-user-name">Maria Gomez</div>
                                        <div class="logged-user-role">Administrator</div>
                                    </div>
                                </div>
                                <div class="bg-icon">
                                    <i class="os-icon os-icon-wallet-loaded"></i>
                                </div>
                                <ul>
                                    <li>
                                        <a href="apps_email.html">
                                            <i class="os-icon os-icon-mail-01"></i>
                                            <span>Incoming Mail</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="users_profile_big.html">
                                            <i class="os-icon os-icon-user-male-circle2"></i>
                                            <span>Profile Details</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="users_profile_small.html">
                                            <i class="os-icon os-icon-coins-4"></i>
                                            <span>Billing Details</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="os-icon os-icon-others-43"></i>
                                            <span>Notifications</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="os-icon os-icon-signs-11"></i>
                                            <span>Logout</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--------------------
                    END - User avatar and menu in secondary top menu
                    -------------------->
                </div>
            </div>
            <!--------------------
            END - Secondary Top Menu
            <!--&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;-->
            <!--<div aria-hidden="true" class="onboarding-modal modal fade animated"-->
            <!--id="onboardingloadingModal" role="dialog" tabindex="-1">-->
            <!--<div class="modal-dialog modal-lg modal-centered" role="document">-->
            <!--<div class=" text-center">-->

            <!--<i class="fa fa-spinner fa-spin fa-5x" id="loadingModal" ></i>-->

            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <div aria-hidden="true" class="onboarding-modal modal fade animated"
                 id="onboardingWideDeposit" role="dialog" tabindex="-1">
                <div class="modal-dialog modal-lg modal-centered" role="document">
                    <div class="modal-content text-center">
                        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                            <span class="close-label">Cancel</span>
                            <span class="os-icon os-icon-close"></span>
                        </button>
                        <div class="onboarding-side-by-side">
                            <div class="onboarding-media">
                                <img alt="" id="defaultimage" src="../static/img/bigicon5.png" width="200px">
                                <img id="qrcstring" src="" width="200px" style="display:none">
                            </div>

                            <div id="depositModalDisplay"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div aria-hidden="true" class="onboarding-modal modal fade animated"
                 id="onboardingWithdrawal" role="dialog" tabindex="-1">
                <div class="modal-dialog modal-lg modal-centered" role="document">
                    <div class="modal-content text-center">
                        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                            <span class="close-label">Cancel</span>
                            <span class="os-icon os-icon-close"></span>
                        </button>
                        <div class="onboarding-side-by-side">
                            <div class="onboarding-media">
                                <img alt="" src="../static/img/bigicon5.png" width="200px">
                            </div>
                            <div id="withdrawModalDisplay"></div>
                        </div>
                    </div>
                </div>
            </div>

            {% block content %}

            {% endblock %}

        </div>

    </div>
</div>
<script>
        $(document).ready(function(){
//$(".close").click(function(){
//var loadingelement = $("#onboardingloadingModal")
//loadingelement.css('display','none');
//loadingelement.removeClass('show')
//loadingelement.attr('aria-hidden', 'true')
//$('body').removeAttr('style');
//$('div.modal-backdrop.fade.show').remove()
//})



    $("#single_order").on('click',function(){
    var date=Date.now().toString();
    window.location.href = "http://127.0.0.1:5564/settings/singleordersettings?dateTime="+date;
    })
////////////////////////////////////////////////////////////////////////////////////////////
var storedOhlc = JSON.parse(sessionStorage.getItem("ohlc"));
var ohlc = [],
volume = [],
count = 0,
buttonClick = 1,
rangeohlc = [],
rangevol = [],
plotgraphflag = 0,
timeswitch = 0
$('#graphloadingimage').show();
$('#graphdiv').css('opacity', '0.2')
$.toast({
            heading: 'Connecting',
            text: 'Waiting to connect to Bitfinex socket api',
            showHideTransition: 'slide',
            icon: 'warning',
            position: 'top-right'
        })

if (storedOhlc != null){
    var storedVolume = JSON.parse(sessionStorage.getItem("volume"));
    plotgraph(storedOhlc, storedVolume);
}
var webSocket100 = $.simpleWebSocket({ url: 'wss://api.bitfinex.com/ws/2' });
    webSocket100.listen(function(message) {
    console.log(message);
    });
   webSocket100.send({event: 'subscribe',channel: 'candles',key:'trade:1m:tBTCUSD' }).listen(function(btcusdcandle) {
   var socketdata = btcusdcandle[1];
    if(socketdata instanceof Array){
     console.log(socketdata);
        if (socketdata.length >6){
         if (count ==0){
            var t = new Date();
            var currentdate = t.setDate(t.getDate() -0.693).toString();
            $.ajax({
		        url: '/auth/getgraphdata',
		        type: "POST",
		        dataType: "json",
		        data:{ currentdate:currentdate},
		        beforeSend: function (){
                },
                complete: function (){
                },
		        success : function(data){
		        console.log(data)

                    dataLength = data.length,
                    // set the allowed units for data grouping
                        i = 0;
                    for (i; i < dataLength; i += 1) {
                        ohlc.push([
                            data[i][0], // the date
                            data[i][1], // open
                            data[i][3], // high
                            data[i][4], // low
                            data[i][2] // close
                        ]);

                        volume.push([
                            data[i][0], // the date
                            data[i][5] // the volume
                        ]);

                        sessionStorage.setItem("ohlc", JSON.stringify(ohlc));
                        sessionStorage.setItem("volume", JSON.stringify(volume));
                    }
    for (var i=(socketdata.length- 1); i >=0 ; i--) {
                        ohlc.push([
                            socketdata[i][0], // the date
                            socketdata[i][1], // open
                            socketdata[i][3], // high
                            socketdata[i][4], // low
                            socketdata[i][2] // close
                        ]);

                        volume.push([
                            socketdata[i][0], // the date
                            socketdata[i][5] // the volume
                        ]);
                        sessionStorage.setItem("ohlc", JSON.stringify(ohlc));
                        sessionStorage.setItem("volume", JSON.stringify(volume));
                    }
                    if (plotgraphflag == 0){
                        plotgraph(ohlc, volume);
                    }


            count +=1;


                    //$('input.highcharts-range-selector:eq(0)').hide()
                },
                error : function(errorThrown){
	                alert("error");

 	            }
		    });
		 }
        }
        else{
        var newohlc =[];
        var newvol=[];
                    if (count ==0){
                        newohlc.push([
                            socketdata[0], // the date
                            socketdata[1], // open
                            socketdata[3], // high
                            socketdata[4], // low
                            socketdata[2] // close
                        ]);

                        newvol.push([
                            socketdata[0], // the date
                            socketdata[5] // the volume
                        ]);

                    }
                    else{
                        if (newohlc.length >0){
                            for (k=0; k<newohlc.length; k++){
                                ohlc.push(newohlc[k]);
                                volume.push(newvol[k]);

                                sessionStorage.setItem("ohlc", JSON.stringify(ohlc));
                                sessionStorage.setItem("volume", JSON.stringify(volume));
                            }
                            newohlc = [];
                            newvol =[];
                            if (plotgraphflag == 0){
                                plotgraph(ohlc, volume);
                            }
                        }else{
                            ohlc.push([
                                socketdata[0], // the date
                                socketdata[1], // open
                                socketdata[3], // high
                                socketdata[4], // low
                                socketdata[2] // close
                            ]);

                            volume.push([
                                socketdata[0], // the date
                                socketdata[5] // the volume
                            ]);
                            sessionStorage.setItem("ohlc", JSON.stringify(ohlc));
                            sessionStorage.setItem("volume", JSON.stringify(volume));
                            if (plotgraphflag == 0){
                                plotgraph(ohlc, volume);
                            }
                        }
                    }



        }

    };


    }).fail(function(e) {
        // error sending
    });



function plotgraph(newohlc, newvalue){

        Highcharts.stockChart('mycontainer', {

                       rangeSelector: {
            allButtonsEnabled: true,
            inputEnabled:false,
            buttons: [{
                type: 'minute',
                count: 20,
                text: '1M',
                events:{
                    click:function(e) {
                            buttonClick =0
                        }
                },
                dataGrouping: {
                    forced: true,
                    units: [['minute', [1]]]
                }
            },
            {
                type: 'minute',
                count: 40,
                text: '3M',
                events:{
                    click:function(e) {
                            buttonClick =1
                        }
                },
                dataGrouping: {
                    forced: true,
                    units: [['minute', [1]]]
                }
            },
            {
                type: 'minute',
                count: 60,
                text: '6M',
                events:{
                    click:function(e) {
                            buttonClick =2
                        }
                },
                dataGrouping: {
                    forced: true,
                    units: [['minute', [1]]]
                }
            },
            {
                type: 'hour',
                count: 2,
                text: '15M',
                events:{
                    click:function(e) {
                            buttonClick =3
                        }
                },
                dataGrouping: {
                    forced: true,
                    units: [['minute', [2]]]
                }
            },
            {
                type: 'hour',
                count: 4,
                text: '30M',
                events:{
                    click:function(e) {
                            buttonClick =4
                        }
                },
                dataGrouping: {
                    forced: true,
                    units: [['minute', [4]]]
                }
            },
            {
                type: 'day',
                count: 1,
                text: '1H',
                events:{
                    click:function(e) {
                            buttonClick =5
                        }
                },
                dataGrouping: {
                    forced: true,
                    units: [['minute', [10]]]
                }
            },
             ],
            buttonTheme: {
                width: 30
            },

            selected: buttonClick
        },

                        title: {
                            text: 'AAPL Historical'
                        },

                        yAxis: [{
                            labels: {
                                align: 'right',
                                x: -3
                            },
                            title: {
                                text: 'OHLC'
                            },
                            height: '60%',
                            lineWidth: 2,
                            resize: {
                                enabled: true
                            }
                            }, {
                            labels: {
                                align: 'right',
                                x: -3
                            },
                            title: {
                                text: 'Volume'
                            },
                            top: '65%',
                            height: '35%',
                            offset: 0,
                            lineWidth: 2
                        }],

                    tooltip: {
                        split: true
                        },

                    series: [{
                        type: 'candlestick',
                        name: 'AAPL',
                        data: newohlc

                        }, {
                            type: 'column',
                            name: 'Volume',
                            data: newvalue,
                            yAxis: 1,

                                   }]

                    },function (chart) {
                            // apply the date pickers
                            setTimeout(function () {
                            $('input.highcharts-range-selector', $(chart.container).parent())
                            .datepicker();
                            }, 0);
                        }
                    );

$('#graphloadingimage').hide();
$('#graphdiv').css('opacity', '1')
}

function daterangecall(nextdate, callback){
    $.ajax({
		        url: '/auth/getgraphdata',
		        type: "POST",
		        dataType: "json",
		        data:{ currentdate:nextdate},
		        async: false,
		        beforeSend: function (){
                },
                complete: function (){
                },
		        success : function(data){
		        console.log(data)

                    dataLength = data.length,
                    // set the allowed units for data grouping

                        i = 0;

                    for (i; i < dataLength; i += 1) {
                        rangeohlc.push([
                            data[i][0], // the date
                            data[i][1], // open
                            data[i][3], // high
                            data[i][4], // low
                            data[i][2] // close
                        ]);

                        rangevol.push([
                            data[i][0], // the date
                            data[i][5] // the volume
                        ]);
                    }
                    callback(true)
                    //$('input.highcharts-range-selector:eq(0)').hide()
                },
                error : function(errorThrown){
	                alert("error");

 	            }
		    });
}
function returndefaultgraph(){
    plotgraph(ohlc, volume);
    plotgraphflag =0;
}
$('#datefrom').datepicker();
$('#dateto').datepicker();
$.datepicker.setDefaults({
    dateFormat: 'yy-mm-dd',
    onSelect: function(dateText) {
    console.log(this);
    //this.hide();
        if (this.id =='dateto' && $('#datefrom').val() != ""){
           var datefrom =  parseInt(((new Date($('#datefrom').val())).getTime()/1000.0).toString() +'000');
           var dateto= parseInt(((new Date($('#dateto').val())).getTime()/1000.0).toString() + '000');
            if (dateto > datefrom){
                var minus = dateto - datefrom
                if (minus <= 518400000){
                    console.log(minus);
                    var nextdate = datefrom

                    for (var i=0; nextdate <= dateto; i++){
                        daterangecall(nextdate, function(res){
                            if (res == true){
                                if (datefrom >(rangeohlc[rangeohlc.length-1][0])){
                                   rangeohlc = ohlc.filter()
                                }
                            nextdate = parseInt((((rangeohlc[rangeohlc.length-1][0])/1000) +1).toString() +'000')
                            }
                        })
                    }
                    plotgraphflag =1
                    plotgraph(rangeohlc,rangevol)
                    var q = Date.now();
                    timeswitch = parseInt((q + 180000).toString());

                }else{
                $.toast({
                    heading: 'Warning',
                    text: 'Date range must not be greater than one week',
                    showHideTransition: 'slide',
                    icon: 'warning',
                    position: 'top-right'
                    })
                }

            }else{
$.toast({
            heading: 'Warning',
            text: 'Date-to must be greater than Date-from',
            showHideTransition: 'slide',
            icon: 'warning',
            position: 'top-right'
        })



           }
        }
    },

});
setInterval(function() {
          datenow = parseInt(Date.now().toString());
      if (timeswitch != 0 && datenow >= timeswitch){
        returndefaultgraph();
      }
}, 5000);




$(".withdrawal").on('click',function(){
//var loadingelement = $("#onboardingloadingModal")
                        $.ajax({
                        type: 'POST',
                        url: '/api/get_withdrawal_modal', // Calling json method
                        traditional: true,
                        data: {  },
                        beforeSend: function () {
                            //$("#loadingModal").show();
                            //loadingelement.modal('show');
                        },
                        complete: function () {
                            //$("#loadingModal").hide();
                            //loadingelement.modal('hide');

                            
                        },
                        success: function (message) {

                                $("#withdrawModalDisplay").html(message);
                                $("#onboardingWithdrawal").modal('show');

                        },
                        error: function (ex) {
                            <!--swal("Error",'Operation Failed',"error");-->
                        }
                    });

      });

$(".deposit").on('click',function(){
      //var loadingelement = $("#onboardingloadingModal")
                        $.ajax({
                        type: 'POST',
                        url: '/api/get_deposit_modal', // Calling json method
                        traditional: true,
                        data: {  },
                        beforeSend: function () {
                            //$("#loadingModal").show();
                            //loadingelement.modal('show');
                        },
                        complete: function () {
                            //$("#loadingModal").hide();
                            //loadingelement.modal('hide');

                        },
                        success: function (message) {
                                $("#depositModalDisplay").html(message);
                                $("#onboardingWideDeposit").modal('show');


                        },
                        error: function (ex) {
                            <!--swal("Error",'Operation Failed',"error");-->
                        }
                    });

      });

        });









</script>


<!--JQuery-->
<!--Import jQuery before materialize.js-->
<!--HighCharts Js-->

<!--<script src="~/Scripts/highstock.js"></script>-->

<!--<script src="~/Scripts/angular.min.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.4.3/angular-ui-router.min.js"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.4/lodash.min.js"></script>-->

<!--<script src="~/Scripts/app/myapp-controller.js?version=@ViewBag.version"></script>-->
<!--<script src="~/Scripts/app/Routes.js?version=@ViewBag.version"></script>-->
<!--<script src="~/Scripts/dirPagination.js"></script>-->
<!--<script src="~/Scripts/ng-file-upload-shim.min.js"></script>-->
<!--<script src="~/Scripts/ng-file-upload.min.js"></script>-->
<!--<script src="~/Scripts/app/AuthController.js?version=@ViewBag.version"></script>-->


<!--ChartJs -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.js"></script>


<script src="../static/bower_components/moment/moment.js"></script>
<script src="../static/bower_components/chart.js/dist/Chart.min.js"></script>
<script src="../static/bower_components/select2/dist/js/select2.full.min.js"></script>
<script src="../static/bower_components/jquery-bar-rating/dist/jquery.barrating.min.js"></script>
<script src="../static/bower_components/ckeditor/ckeditor.js"></script>
<script src="../static/bower_components/bootstrap-validator/dist/validator.min.js"></script>
<script src="../static/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
<script src="../static/bower_components/ion.rangeSlider/js/ion.rangeSlider.min.js"></script>
<script src="../static/bower_components/dropzone/dist/dropzone.js"></script>
<script src="../static/bower_components/editable-table/mindmup-editabletable.js"></script>
<script src="../static/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="../static/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script src="../static/bower_components/fullcalendar/dist/fullcalendar.min.js"></script>
<script src="../static/bower_components/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js"></script>
<script src="../static/bower_components/tether/dist/js/tether.min.js"></script>
<script src="../static/bower_components/slick-carousel/slick/slick.min.js"></script>
<script src="../static/bower_components/bootstrap/js/dist/util.js"></script>
<script src="../static/bower_components/bootstrap/js/dist/alert.js"></script>
<script src="../static/bower_components/bootstrap/js/dist/button.js"></script>
<script src="../static/bower_components/bootstrap/js/dist/carousel.js"></script>
<script src="../static/bower_components/bootstrap/js/dist/collapse.js"></script>
<script src="../static/bower_components/bootstrap/js/dist/dropdown.js"></script>
<script src="../static/bower_components/bootstrap/js/dist/modal.js"></script>
<script src="../static/bower_components/bootstrap/js/dist/tab.js"></script>
<script src="../static/bower_components/bootstrap/js/dist/tooltip.js"></script>
<script src="../static/bower_components/bootstrap/js/dist/popover.js"></script>
<script src="../static/bower_components/dragula.js/dist/dragula.min.js"></script>
<script src="../static/js/dataTables.bootstrap4.min.js"></script>
<script src="../static/js/socket.js"></script>
<script>
    if ('serviceWorker' in navigator) {
    navigator.serviceWorker
        .register('./../sw.js', {scope: './'})
        .then(function(registration) {
      // Registration was successful
      console.log("Registration successful")
      }).catch(function(error){
        console.log(error)
      });
    }

</script>
<!--<script src="../static/js/dist/bundle.js"></script>-->
<!--<script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.1.min.js"></script>-->

<script src="../static/js/main5f48.js?version=4.0.0"></script>
<script src="../static/toast/dist/jquery.toast.min.js"></script>
<!--<script src="../static/js/main_rentals5f48.js?version=4.0.0"></script>-->
</body>


</html>
